<html>
<head>
<title><TMPL_VAR NAME=sitetitle />: <TMPL_VAR NAME=name /></title>
<TMPL_INCLUDE NAME="piece_head.html.tmpl">
</head>
<body>
<div class="page_container">

<h3><TMPL_VAR NAME=name></h3>

<br/>

<!--<b>Projects: </b>
<TMPL_INCLUDE NAME="piece_projects_list.html.tmpl"/>

<br/><br/>-->

<TMPL_INCLUDE NAME="piece_authors_bar.html.tmpl"/>

<br class="clearboth"/><br/>

<TMPL_INCLUDE NAME="piece_papers_list.html.tmpl"/>

</div>
</body>
</html>
