<style type="text/css">
<TMPL_INCLUDE NAME="style_include.css.tmpl"/>
</style>

<h2>Summary</h2>

<br/>

<!--<b>Projects: </b>
<TMPL_INCLUDE NAME="piece_projects_list.html.tmpl"/>
<br/><br/>-->

<b>Topics: </b>
<TMPL_INCLUDE NAME="piece_keywords_list.html.tmpl"/>
<br/><br/>

<TMPL_INCLUDE NAME="piece_papers_list.html.tmpl"/>
