<TMPL_IF NAME=is_member><a href="<TMPL_VAR name=root />authors/<TMPL_VAR NAME=key>.html"><TMPL_VAR NAME=name></a><TMPL_ELSE><TMPL_IF NAME=link><a href="<TMPL_VAR name=link>"><TMPL_VAR NAME=name></a><TMPL_ELSE><TMPL_VAR NAME=name></TMPL_IF></TMPL_IF>