/* common */

body {
  margin-top: 50px;
  background: white;
}

h1 {
font-size:200%;
        margin:5px 0;
}
h2 {
font-size:150%;
        margin:5px 0;
}
h3 {
font-size:125%;
        margin:3px 0;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;} 
a:active {}

.page_container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.clearboth {
  clear: both;
}

<TMPL_INCLUDE name="style_include.css.tmpl"/>
